<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>原生开发</title>
  <link rel="stylesheet" href="static/css/index.css">
  <script src="static/js/jquery.min.js"></script>
</head>
<body>

<div class="title">原生开发</div>
<div class="container">
  <div class="item">
    <div class="box">
      <div class="boxcontain">
        <img src="static/img/jquery.png">
        <h1>jQuery</h1>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="box">
      <div class="boxcontain">
        <img src="static/img/Bootstrap.png">
        <h1>Bootstrap</h1>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="box">
      <div class="boxcontain">
        <img src="static/img/echart.png">
        <h1>ECharts</h1>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="box">
      <div class="boxcontain">
        <img src="static/img/map.png">
        <h1>地图</h1>
      </div>
    </div>
  </div>
</div>
<script>

</script>
<style>
  .box {
    height: 20rem;
    width: 20rem;
  }

  .boxcontain {
    width: 15rem;
    height: 15rem;
  }
</style>
</body>
</html>