<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频流开发工具</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">
    <script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
</head>
<body>

<div class="title">视频流开发工具</div>
<div class="container">
    <div class="item">
        <div class="box">
            <div class="boxcontain">
                <img src="{{ url_for('static', filename = 'img/vlc.png') }}">
                <h1>VLC播放器</h1>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="box">
            <div class="boxcontain">
                <img src="{{ url_for('static', filename = 'img/EasyDarwin.png') }}">
                <h1>EasyDarwin</h1>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="box">
            <div class="boxcontain">
                <img src="{{ url_for('static', filename = 'img/ipcamera.png') }}">
                <h1>IP摄像头APP</h1>
            </div>
        </div>
    </div>
</div>
<script>

</script>
</body>
</html>